@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #111111;
    color: white;
}

.filter-button {
    backdrop-filter: blur(5px);
}

.button-gradient {
    background: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgba(236, 200, 200, 0.7) 2%, rgba(0, 0, 0, 0.12) 12%, rgba(255, 255, 255, 0.02) 20%);
}

